@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/** light -- dark */

@layer base {
  :root {
    --bg-primary: #f8f9fa;
    --bg-main: #f8f9fa;
    --bg-section: #;
    --bg-block: #;
    --bg-alt: #;
    --bg-secondary: #;
    --bg-card: #ffffff;
    --bg-elevated: #;
    --bg-button: #;
    --bg-dropdown: #ffffff;

    --text-primary: #1d2630;
    --text-main: #4680ff;
    --text-secondary: #5b6b79;
    --text-muted: #;
    --text-title: #;
    --text-headline: #;
    --text-subtitle: #;
    --text-section: #;
    --text-section-title: #3e4853;
    --text-link: #5b6b79;
    --text-link-hover: #;
    --text-button: #;
    --text-warning: #;
    --text-error: #;

    --header-primary: #;
    --title-main: #;
    --header-secondary: #;
    --title-sub: #;
    --section-header: #;
    --subsection-header: #;

    --button-primary: #4680ff;
    --button-secondary: #;
    --button-confirm: #4ab491;
    --button-cancel: #e04545;
    --button-danger: #e89a25;
    --button-hover: #f3f5f7;
    --button-disabled: #;

    --link-main: #4680ff;
    --link-hover: #e8ebed;
    --link-active: #e6edfb;
    --link-disabled: #;

    --box-shadow: #;
    --border-primary: #d3d6db;
    --border-focus: #4680ff;
    --border-disabled: #;
    --text-shadow: #;

    --alert-success: #;
    --alert-warning: #;
    --alert-error: #;
    --alert-info: #;

    --icon-main: #5b6b79;
    --icon-hover: #f3f5f7;
    --icon-action: #;
    --icon-disabled: #;

    --navbar-background: #;
    --footer-background: #;
    --input-checked: #;
    --input-placeholder: #;
    --loading-bar: #;
    --loading-spinner: #;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --bg-primary: #131920;
    --bg-main: #131920;
    --bg-section: #;
    --bg-block: #;
    --bg-alt: #;
    --bg-secondary: #;
    --bg-card: #1b232d;
    --bg-elevated: #;
    --bg-button: #;
    --bg-dropdown: #263240;

    --text-primary: #d1d3d5;
    --text-main: #4680ff;
    --text-secondary: #898c90;
    --text-muted: #;
    --text-title: #;
    --text-headline: #;
    --text-subtitle: #;
    --text-section: #;
    --text-section-title: #d0d1d2;
    --text-link: #898c90;
    --text-link-hover: #;
    --text-button: #;
    --text-warning: #;
    --text-error: #;

    --header-primary: #;
    --title-main: #;
    --header-secondary: #;
    --title-sub: #;
    --section-header: #;
    --subsection-header: #;

    --button-primary: #4680ff;
    --button-secondary: #;
    --button-confirm: #289371;
    --button-cancel: #be2425;
    --button-danger: #c67905;
    --button-hover: #19212a;
    --button-disabled: #;

    --link-main: #4680ff;
    --link-hover: #1f252b;
    --link-active: #182337;
    --link-disabled: #;

    --box-shadow: #;
    --border-primary: #2e3c4c;
    --border-focus: #4680ff;
    --border-disabled: #;
    --text-shadow: #;

    --alert-success: #;
    --alert-warning: #;
    --alert-error: #;
    --alert-info: #;

    --icon-main: #6f747f;
    --icon-hover: #19212a;
    --icon-action: #;
    --icon-disabled: #;

    --navbar-background: #;
    --footer-background: #;
    --input-checked: #;
    --input-placeholder: #;
    --loading-bar: #;
    --loading-spinner: #;
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-track-piece {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #7a7974c7;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #696464ee;
}

*::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-corner {
  display: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*---break--- */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
