@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/** light -- dark */

@layer base {
  :root {
    --bg-primary: #f8f9fa;
    --bg-main: #f8f9fa;
    --bg-section: #;
    --bg-block: #;
    --bg-alt: #;
    --bg-secondary: #;
    --bg-card: #ffffff;
    --bg-elevated: #;
    --bg-button: #;
    --bg-dropdown: #ffffff;

    --text-primary: #1D2630;
    --text-main: #4680FF;
    --text-secondary: #5B6B79;
    --text-muted: #;
    --text-title: #;
    --text-headline: #;
    --text-subtitle: #;
    --text-section: #;
    --text-section-title: #3E4853;
    --text-link: #5B6B79;
    --text-link-hover: #;
    --text-button: #;
    --text-warning: #;
    --text-error: #;

    --header-primary: #;
    --title-main: #;
    --header-secondary: #; 
    --title-sub: #;
    --section-header: #;
    --subsection-header: #;

    --button-primary: #4680FF;
    --button-secondary: #;
    --button-confirm: #4ab491;
    --button-cancel: #e04545;
    --button-danger: #e89a25;
    --button-hover: #F3F5F7;
    --button-disabled: #;

    --link-main: #4680FF;
    --link-hover: #E8EBED;
    --link-active: #E6EDFB;
    --link-disabled: #;

    --box-shadow: #;
    --border-primary: #E7EAEE;
    --border-focus: #4680FF;
    --border-disabled: #;
    --text-shadow: #;

    --alert-success: #;
    --alert-warning: #;
    --alert-error: #;
    --alert-info: #;

    --icon-main: #5B6B79;
    --icon-hover: #F3F5F7;
    --icon-action: #;
    --icon-disabled: #;

    --navbar-background: #;
    --footer-background: #;
    --input-checked: #;
    --input-placeholder: #;
    --loading-bar: #;
    --loading-spinner: #;
  }

  .dark {
    --bg-primary: #131920;
    --bg-main: #131920;
    --bg-section: #;
    --bg-block: #;
    --bg-alt: #;
    --bg-secondary: #;
    --bg-card: #1B232D;
    --bg-elevated: #;
    --bg-button: #;
    --bg-dropdown: #263240;

    --text-primary: #D1D3D5;
    --text-main: #4680FF;
    --text-secondary: #898C90;
    --text-muted: #;
    --text-title: #;
    --text-headline: #;
    --text-subtitle: #;
    --text-section: #;
    --text-section-title: #D0D1D2;
    --text-link: #898C90;
    --text-link-hover: #;
    --text-button: #;
    --text-warning: #;
    --text-error: #;

    --header-primary: #;
    --title-main: #;
    --header-secondary: #; 
    --title-sub: #;
    --section-header: #;
    --subsection-header: #;

    --button-primary: #4680FF;
    --button-secondary: #;
    --button-confirm: #289371;
    --button-cancel: #be2425;
    --button-danger: #c67905;
    --button-hover: #19212A;
    --button-disabled: #;

    --link-main: #4680FF;
    --link-hover: #1F252B;
    --link-active: #182337;
    --link-disabled: #;

    --box-shadow: #;
    --border-primary: #263240;
    --border-focus: #4680FF;
    --border-disabled: #;
    --text-shadow: #;

    --alert-success: #;
    --alert-warning: #;
    --alert-error: #;
    --alert-info: #;

    --icon-main: #6F747F;
    --icon-hover: #19212A;
    --icon-action: #;
    --icon-disabled: #;

    --navbar-background: #;
    --footer-background: #;
    --input-checked: #;
    --input-placeholder: #;
    --loading-bar: #;
    --loading-spinner: #;
  }
}


*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-track-piece {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #7a7974c7;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #696464ee;
}

*::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-corner {
  display: none;
}

